[Unit]
Description=Powder Characterizer local kiosk browser
After=graphical.target powder-flow-web.service
Wants=powder-flow-web.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --noerrdialogs --disable-infobars http://localhost:8000
Restart=on-failure
User=sdl-5

[Install]
WantedBy=graphical.target
